* {
  margin: 0px 5px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: sans-serif;
  font-size: 16px;
}

#size {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #a1a1fc;
  font-size: 2em;
}

.container {
  height: 100vh;
}

.header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 4vw;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2.5vw;
  gap: 20px;
}

.main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__image {
  background-image: url(https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_960_720.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.main__text {
  width: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.main__text span {
  color: #a1a1fc;
}

.main__text-1 {
  font-size: 10vw;
}

.main__text-2, .main__text-3, .main__text-4 {
  font-size: 5vw;
}

.footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10%;
}

.footer [class^="footer__"] img {
  width: 5.3vw;
}

@media (max-width: 650px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    font-size: 40px;
  }
  .header__menu {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-size: 100%;
    background-position: center;
  }
  .main__text {
    width: 100%;
  }
  .main__text-1 {
    display: none;
  }
  .main__text-2, .main__text-3, .main__text-4 {
    font-size: 30px;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
  .footer [class^="footer__"] img {
    width: 45px;
    height: 45px;
  }
}
/*# sourceMappingURL=style.css.map */