* {
    margin: 0px 5px;
    padding: 0px;
    box-sizing: border-box;

    body {
        font-family: sans-serif;
        font-size: 16px;
    }
}

#size{
    position: absolute;

    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color:#a1a1fc;
    font-size: 2em;
}

.container {
    height: 100vh;
}

.header {
    height: 10%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    &__logo {
        font-size: 4vw;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        font-size: 2.5vw;
        gap: 20px;
    }
}

.main {
    height: 80%;

    display: flex;
    flex-direction: row;

    &__image{
        background-image: url(https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_960_720.jpg);
        width: 50%;
        background-repeat: no-repeat;
        background-size: contain;       // make image looks responsive
        background-position: left center;   // stay in left center  x y
  
    }
    &__text{
        width: 50%;
        display: grid;
        place-content: center;

        span{
            color: #a1a1fc;
        }

        &-1{
            font-size: 10vw;
        }
        &-2,
        &-3,
        &-4{
            font-size: 5vw;
        }
    }
}

.footer {
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 10%;

    [class ^="footer__"]{
        img{
            width: 5.3vw;
        }
    }
}

@media (max-width: 650px){
    .header{
        justify-content: center;


        &__logo{
            font-size: 40px;

        }

        &__menu{
            display: none;
        }
    }

    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__image {
            height: 200px;
            width: 200px;
            border-radius: 100%;
            background-size: 100%;
            background-position: center;
        }

        &__text{
            width: 100%;

            &-1 {
                display: none;
            }
            &-2,&-3,&-4{
                font-size: 30px;
            }
        }
    }

    .footer {
        justify-content: center;
        margin: 0px;
        [class ^="footer__"]{
            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}