*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;

    body {
        font-family: sans-serif;
        font-size: 55px;
    }
}

.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    gap: 30px;
}

[class^="row-"] {
    display: flex;
    gap: 30px;
}

[class ^="box-"] {
    background-color: #c4c4c4;
    border: 2px solid rgb(0, 0, 0);

    width: (100%)/3;
    height: (100vh)/3;

    display: grid;
    place-items: center;
}

@media (max-width: 650px) {
    
    [class ^="row-"]{
        flex-direction: column;
    }

    [class ^="box-"]{
        width: 100%;
    }
}